
form input #data{
    width: 200px;
    line-height: 3;
    font-size: 15px;
    box-shadow: 0 0 3px #ccc inset;
    transition: all 0.2s ease-in-out;
}

form input:focus {
    border-color: purple;
    box-shadow: 0 0 5px purple inset;
}
form input::selection {
    background: transparent;
}

form button #verify {
    margin: 30px 0 50px;
    width: 80%;
    padding: 6px;
    background-color: #0857e8;
    border: none;
    text-transform: uppercase;
}
